<div class="game-board">
  <table class = "tftable" border="1">
      <tr>
        <% [*0..6].each do |n| %>
            <td><%= button_to "#{n + 1}", "/games/#{@game.id}", params: { :column => n }, :method => :put %></td>
        <% end %>
      </tr>
    <% 0.upto(5) do |col| %>
      <tr>
        <% 7.times do |row| %>
         <td class=""><% if board[row][col] == 'R' %>
                        <%= image_tag "corvettepiece.png", class: "piece" %></td>
                      <% elsif board[row][col] == 'B' %>
                        <%= image_tag "whitecorvette.png", class: "piece" %></td>
                      <% else %>
                        <%= image_tag "whitecircle.png", class: "piece" %></td>
                      <% end %>
        <% end %>
      </tr>
    <%end%>
  </table>
</div>










