<div class="game-board">
  <table class = "tftable" border="1">
      <tr>
        <% [*0..6].each do |n| %>
            <td><%= button_to "#{n + 1}", "/games/#{n + 1}", params: { :column => n }, :method => :put %></td>
        <% end %>
      </tr>
    <% 5.downto(0) do |row| %>
    <tr>
      <% 7.times do |col| %>
        <td class=""><%= board[row][col] %></td>
      <% end %>
    </tr>
  <%end%>
  </table>
</div>










